<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string>User Settings</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string></string>
			<key>Key</key>
			<string>who_is_this</string>
			<key>Title</key>
			<string>Main user</string>
			<key>Titles</key>
			<array>
				<string>JP</string>
				<string>Fran</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<string>JP</string>
				<string>Fran</string>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>APP INFO</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>3.2</string>
			<key>Key</key>
			<string>version_preferance</string>
			<key>Title</key>
			<string>Version</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>2892</string>
			<key>Key</key>
			<string>BUILD_NUMBER</string>
			<key>Title</key>
			<string>Build</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
